#[inline]
pub fn part_1(input: &str) -> i32 \{
    0
}

#[inline]
pub fn part_2(input: &str) -> i32 \{
    0
}

#[cfg(test)]
mod tests \{
    static TEST_INPUT: &str = include_str!("../inputs/day{n}-test.txt");
    static FULL_INPUT: &str = include_str!("../inputs/day{n}.txt");

    #[test]
    fn part_1_test() \{
        let output = super::part_1(TEST_INPUT);
        assert_eq!(output, 1234);
    }

    #[test]
    fn part_1() \{
        let output = super::part_1(FULL_INPUT);
        assert_eq!(output, 1234);
    }

    #[test]
    fn part_2_test() \{
        let output = super::part_2(TEST_INPUT);
        assert_eq!(output, 1234);
    }

    #[test]
    fn part_2() \{
        let output = super::part_2(FULL_INPUT);
        assert_eq!(output, 1234);
    }

}
